body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
h1{
	font-size: 40px;
}
.orange-color{
	color: orange;
}
.flexible-container{
	display: flex;
	/* margin-bottom: 100px; */
    height: 450px;
}
.half-width{
	width: 50%;
	padding-left: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-right: 5%;
	
}
.half-width img{
	width: 60%;
}
.link-button{
	text-decoration: none;
	background-image: linear-gradient(orange, tomato);
	color: rgb(255, 255, 255);
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 10px;
}
.top-banner{
	background-image: url(./images/shapes/Frame\ 57.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
.about-me{
	background-image: url(./images/shapes/7.png);
	background-repeat: no-repeat;
    background-size: cover;
	padding: 30px;
}
p{
	text-align: justify;
}
.recipies-box{
	margin-bottom:50px;
}
.recipies-box h2{
	text-align:center;
	text-decoration: overline;
	font-size: 40px;
}
.recipies-box p{
	text-align:center;
}
.recipies-col{
	box-shadow: 10px 10px 40px gray;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	/* padding-left: 10px; */
	border-radius: 10px;
	padding: 15px;
}
.recipies-col img{
	height: auto;
	width: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipies-col p{
	text-align: left;
}
.recipies-col h3{
	text-align:center;
	font-size: 25px;
}
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./images/food/Project\ Cover4.png);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style:italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}
.row h2{
    text-align: center;
	font-size: 35px;
	color: antiquewhite;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
.col {
	display: block;
	float:left;
	margin: 4%;
}
.grid-3{
	width: 25%; 
}
.contact-form{
    width: 60%;
    margin: 0 auto;
}
.section-form h2{
	color: rgb(71, 46, 46);
}